Julia just finished conducting a coding contest, and she needs your help assembling the leaderboard! Write a query to print the respective hacker_id and name of hackers who achieved full scores for more than one challenge. Order your output in descending order by the total number of challenges in which the hacker earned a full score. If more than one hacker received full scores in same number of challenges, then sort them by ascending hacker_id.

The goal is to order the table first and mark count of each line
then select the counted value  in the middle

SOLUTION 1

In [ ]:
-- The goal of cte is to list all hackers that achieved full score with their score cc the order by the score and hacker_id
with cte as (
select h.hacker_id , h.name ,  COUNT(1) as cc  from Submissions s
inner join challenges c on s.challenge_id = c.challenge_id
inner join Difficulty d on d.difficulty_level = c.difficulty_level
inner join hackers h on (s.hacker_id = h.hacker_id  )
where s.score = d.score
GROUP BY h.hacker_id, h.name 
having COUNT(1) > 1
)
select hacker_id , name from cte
order by cc desc , hacker_id asc