Write a query that prints a list of employee names (i.e.: the name attribute) from the Employee table in alphabetical order.

SOLUTION 1

In [ ]:
select NAme from employee
order by name asc

SOLUTION 2